USE [master]
GO
/****** Object:  Database [manage]    Script Date: 2025/12/1 9:15:23 ******/
CREATE DATABASE [manage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'manage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\manage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'manage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\manage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [manage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [manage]
GO
/****** Object:  Table [dbo].[买书交易表]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[买书交易表](
	[交易号] [int] IDENTITY(1,1) NOT NULL,
	[顾客号] [char](10) NOT NULL,
	[书籍号] [char](12) NOT NULL,
	[销售日期] [datetime2](7) NOT NULL,
	[销售价格] [float] NULL,
	[付款状态] [nchar](10) NOT NULL,
 CONSTRAINT [PK_买书交易表] PRIMARY KEY CLUSTERED 
(
	[交易号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[顾客]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[顾客](
	[顾客号] [char](10) NOT NULL,
	[姓名] [nvarchar](50) NOT NULL,
	[电话号码] [char](11) NOT NULL,
	[性别] [nvarchar](1) NOT NULL,
	[会员状态] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_顾客号] PRIMARY KEY CLUSTERED 
(
	[顾客号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[买书结账单]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[买书结账单] AS
SELECT dbo.顾客.顾客号, dbo.顾客.姓名, dbo.买书交易表.交易号, dbo.买书交易表.销售价格, dbo.买书交易表.书籍号, dbo.买书交易表.销售日期
FROM dbo.顾客 
INNER JOIN dbo.买书交易表 ON dbo.顾客.顾客号 = dbo.买书交易表.顾客号;
GO
/****** Object:  Table [dbo].[租书登记表]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[租书登记表](
	[交易号] [int] IDENTITY(1,1) NOT NULL,
	[顾客号] [char](10) NOT NULL,
	[书籍号] [char](12) NOT NULL,
	[租借日期] [datetime2](7) NOT NULL,
	[预计天数] [int] NULL,
	[押金] [float] NULL,
 CONSTRAINT [PK_租书登记表] PRIMARY KEY CLUSTERED 
(
	[交易号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[租书结账单]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[租书结账单] AS
SELECT dbo.顾客.顾客号, dbo.顾客.姓名, dbo.租书登记表.交易号, dbo.租书登记表.书籍号, dbo.租书登记表.押金, dbo.租书登记表.租借日期
FROM dbo.顾客 
INNER JOIN dbo.租书登记表 ON dbo.顾客.顾客号 = dbo.租书登记表.顾客号;
GO
/****** Object:  Table [dbo].[书籍]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[书籍](
	[书籍号] [char](12) NOT NULL,
	[书籍名] [nvarchar](50) NOT NULL,
	[书籍状态] [nvarchar](2) NOT NULL,
	[书籍作者] [nvarchar](20) NOT NULL,
	[书籍简介] [nvarchar](50) NOT NULL,
	[书籍类型代码] [char](3) NOT NULL,
	[书籍单价] [float] NULL,
 CONSTRAINT [PK_书籍号] PRIMARY KEY CLUSTERED 
(
	[书籍号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[空闲书籍]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[空闲书籍]
AS
SELECT  书籍状态, 书籍单价, 书籍号, 书籍名
FROM      dbo.书籍
WHERE   (书籍状态 = '空闲')
GO
/****** Object:  View [dbo].[会员]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[会员]
AS
SELECT  会员状态
FROM      dbo.顾客
WHERE   (会员状态 = '会员')
GO
/****** Object:  Table [dbo].[书籍类型]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[书籍类型](
	[类型代码] [char](3) NOT NULL,
	[类型名称] [nchar](10) NOT NULL,
 CONSTRAINT [PK_书籍类型] PRIMARY KEY CLUSTERED 
(
	[类型代码] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[账单]    Script Date: 2025/12/1 9:15:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[账单](
	[交易号] [int] IDENTITY(1,1) NOT NULL,
	[顾客号] [char](10) NOT NULL,
	[应付款] [float] NULL,
	[日期] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_账单] PRIMARY KEY CLUSTERED 
(
	[交易号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_会员状态]    Script Date: 2025/12/1 9:15:23 ******/
CREATE NONCLUSTERED INDEX [IX_会员状态] ON [dbo].[顾客]
(
	[会员状态] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_姓名]    Script Date: 2025/12/1 9:15:23 ******/
CREATE NONCLUSTERED INDEX [IX_姓名] ON [dbo].[顾客]
(
	[姓名] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_书籍名]    Script Date: 2025/12/1 9:15:23 ******/
CREATE NONCLUSTERED INDEX [IX_书籍名] ON [dbo].[书籍]
(
	[书籍名] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_书籍作者]    Script Date: 2025/12/1 9:15:23 ******/
CREATE NONCLUSTERED INDEX [IX_书籍作者] ON [dbo].[书籍]
(
	[书籍作者] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[买书交易表]  WITH CHECK ADD  CONSTRAINT [FK_买书交易表_顾客] FOREIGN KEY([顾客号])
REFERENCES [dbo].[顾客] ([顾客号])
GO
ALTER TABLE [dbo].[买书交易表] CHECK CONSTRAINT [FK_买书交易表_顾客]
GO
ALTER TABLE [dbo].[买书交易表]  WITH CHECK ADD  CONSTRAINT [FK_买书交易表_书籍] FOREIGN KEY([书籍号])
REFERENCES [dbo].[书籍] ([书籍号])
GO
ALTER TABLE [dbo].[买书交易表] CHECK CONSTRAINT [FK_买书交易表_书籍]
GO
ALTER TABLE [dbo].[书籍]  WITH CHECK ADD  CONSTRAINT [FK_书籍_书籍类型] FOREIGN KEY([书籍类型代码])
REFERENCES [dbo].[书籍类型] ([类型代码])
GO
ALTER TABLE [dbo].[书籍] CHECK CONSTRAINT [FK_书籍_书籍类型]
GO
ALTER TABLE [dbo].[账单]  WITH CHECK ADD  CONSTRAINT [FK_账单_顾客] FOREIGN KEY([顾客号])
REFERENCES [dbo].[顾客] ([顾客号])
GO
ALTER TABLE [dbo].[账单] CHECK CONSTRAINT [FK_账单_顾客]
GO
ALTER TABLE [dbo].[租书登记表]  WITH CHECK ADD  CONSTRAINT [FK_租书登记表_顾客] FOREIGN KEY([顾客号])
REFERENCES [dbo].[顾客] ([顾客号])
GO
ALTER TABLE [dbo].[租书登记表] CHECK CONSTRAINT [FK_租书登记表_顾客]
GO
ALTER TABLE [dbo].[顾客]  WITH NOCHECK ADD  CONSTRAINT [CK_会员状态] CHECK  (([会员状态]='非会员' OR [会员状态]='会员'))
GO
ALTER TABLE [dbo].[顾客] CHECK CONSTRAINT [CK_会员状态]
GO
ALTER TABLE [dbo].[顾客]  WITH NOCHECK ADD  CONSTRAINT [CK_性别] CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[顾客] CHECK CONSTRAINT [CK_性别]
GO
ALTER TABLE [dbo].[书籍]  WITH CHECK ADD  CONSTRAINT [CK_书籍状态] CHECK  (([书籍状态]='空闲' OR [书籍状态]='已租' OR [书籍状态]='已售'))
GO
ALTER TABLE [dbo].[书籍] CHECK CONSTRAINT [CK_书籍状态]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "顾客"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 209
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'会员'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'会员'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "书籍"
            Begin Extent = 
               Top = 13
               Left = 35
               Bottom = 176
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'空闲书籍'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'空闲书籍'
GO
USE [master]
GO
